@import url(https://fonts.googleapis.com/css?family=Open+Sans|Overpass);

/* ==========================================================================
Global Styles
========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #0d0d0d;
	overflow-x: hidden;
}
.mute {
	color: rgba(255, 255, 255, 0.3);
}

/* ==========================================================================
Typography
========================================================================== */

h1 {
	font-size: 5em;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.16em;
	font-family: 'Overpass', sans-serif;
}
h2 {
	font-size: 3em;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-family: 'Overpass', sans-serif;
}
h3 {
	font-size: 1.7em;
	color: #808080;
	font-weight: 600;
	letter-spacing: .2em;
	font-family: 'Overpass', sans-serif;
}
h4 {
	font-size: 1.5em;
	color: #808080;
	font-weight: 600;
	font-family: 'Overpass', sans-serif;
}
h5 {
	font-size: 1.25em;
	color: #000;
	font-weight: 900;
	font-family: 'Overpass', sans-serif;
}
h6 {
	font-size: 1.2em;
	color: #000;
	font-weight: 900;
	letter-spacing: 0.05em;
	font-family: 'Overpass', sans-serif;
}
p {
	font-size: 16px;
	color: #000;
	font-weight: 400;
}

/* ==========================================================================
Buttons Styles
========================================================================== */

.btn-transparent {
	background: transparent;
	border: 3px solid #fff;
	padding: 15px 30px;
	font-size: 14px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
	background: #fff;
	color: #0d0d0d;
	text-decoration: none;
}
.btn-light {
	background: #fff;
	border: 3px solid #fff;
	padding: 15px 30px;
	font-size: 14px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #0d0d0d;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
	background: transparent;
	color: #fff;
	text-decoration: none;
}
.btn-block {
	background: #0b0c0c;
	padding: 15px 0;
	font-size: 16px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border: 3px solid #0b0c0c;
}
.btn-block:hover, .btn-block:focus, .btn-block:active {
	background: #1c1d1d;
	color: #fff;
	border: 3px solid #1c1d1d;
	text-decoration: none;
}

/* ==========================================================================
Layout
========================================================================== */

.dark-bg {
	background: #0b0c0c;
}
.light-bg {
	background: #fff;
}
#short {
	max-width: 35%:
}

/* ==========================================================================
Preloader Style
========================================================================== */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background: #0b0c0c;
}
.preloader i {
	color: #fff;
	position: absolute;
	font-size: 36px;
	line-height: 36px;
	top: 50%;
	left: 50%;
	height: 36px;
	width: 36px;
	margin-top: -15px;
	margin-left: -15px;
	display: inline-block;
}

/* ==========================================================================
Navigation Style
========================================================================== */

.navbar-default {
	background: #0b0c0c;
	margin-bottom: 0;
	border: none;
}
.navbar-default .navbar-header {
	width: 28%;
	padding-right: 15px;
}
.navbar-default .nav-wrap {
	width: 50%;
}
.navbar-default .nav>li>a {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 35px 15px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:active {
	color: #952222;
}
.navbar-default .social-media {
	float: right;
	padding: 0 15px;
}
.navbar-default .social-media i {
	font-size: 22px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: transparent;
	color: #952222;
}
.top-nav-collapse {
	background: #0b0c0c;
}
.top-nav-collapse .navbar-brand {
	height: auto;
}
.top-nav-collapse .navbar-brand img {}
.top-nav-collapse .nav>li>a {
	padding: 30px 15px;
}
@media only screen and (min-width: 801px) {
	.navbar-brand {
		display: block;
		margin: 0 auto;
	}
	.navbar-brand>img {
		height: 75%;
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translate(-50%, -50%);
		max-height: 100%;
	}
}
@media (max-width: 801px) {
	.navbar-brand {
		padding: 1em;
	}
	.navbar-brand>img {
		max-height: 3em;
		width: auto;
	}
	.nav-bar>li {
		text-align: center;
	}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #0b0c0c;
}

/* ==========================================================================
Sliders Style
========================================================================== */

#owl-hero {
	overflow: hidden;
}
#owl-hero .item {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #000, #000);
	opacity: .6;
}
#owl-hero .item .caption {
	position: absolute;
	top: 50%;
	margin-top: -104px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 15;
}
#owl-hero .item .caption h1 {
	margin-top: 40px;
	margin-bottom: 50px;
	text-transform: uppercase;
}
#owl-hero .item .caption h1 span {
	font-weight: 700;
  color:#952222;
}
#owl-hero .item .caption h6 {
	color: #fff;
	margin: 0;
}
#owl-hero .owl-pagination {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
	bottom: 5%;
}
#owl-hero .owl-pagination .owl-page.active span {
	background: #fff;
}
#owl-hero .owl-pagination .owl-page span {
	border: 2px solid #fff;
	border-radius: 50%;
	background: transparent;
	opacity: 1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#owl-hero .owl-buttons div {
	background: #fff;
	font-size: 24px;
	color: #952222;
	opacity: 1;
}
#owl-hero .owl-buttons .owl-prev {
	display: none;
}
#owl-hero .owl-buttons .owl-next {
	display: none;
}
#owl-hero .owl-buttons .owl-prev, #owl-hero .owl-buttons .owl-next {
	position: absolute;
	background: #fff;
	top: 50%;
	height: 51px;
	width: 51px;
	line-height: 45px;
	border-radius: 0;
	border: 1px solid #fff;
	z-index: 20;
	text-align: center;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#owl-hero:hover .owl-prev {
	left: -5px;
}
#owl-hero:hover .owl-next {
	right: -5px;
}

/* ==========================================================================
Welcome Style
========================================================================== */

#welcome {
	padding: 60px 0;
	text-align: center;
	position: relative;
}
#welcome h2 {
	text-transform: uppercase;
}
#welcome h2 span {
	font-weight: 700;
	color: #952222;
}
#welcome img {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 3em;
	position: absolute;
	overflow: hidden;
	z-index: -20;
}
@media screen and (max-width: 990px) {
	.mh {
		display: none;
	}
}

/* ==========================================================================
solutions Style
========================================================================== */

#solutions {
	background: #0b0c0c;
	padding: 120px 0;
}
#solutions h2 {
	text-transform: uppercase;
	color: #fff;
}
#solutions h2 span {
	font-weight: 700;
	color: #952222;
}
#solutions p {
	color: #fff;
}
#solutions .solutions-box {
	margin-top: 40px;
}

/* ==========================================================================
Portfolio Style
========================================================================== */

#portfolio {
	text-align: center;
}
#portfolio h2 {
	text-transform: uppercase;
}
#portfolio p {
	margin-bottom: 40px;
}
#portfolio .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
#portfolio .container-fluid .col-lg-4 {
	padding-left: 0;
	padding-right: 0;
}
#portfolio .portfolio-box {
	display: block;
	position: relative;
	margin: 0 auto;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
#portfolio .portfolio-box:hover {
	-webkit-filter: grayscale(25%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(25%);
}
#portfolio .portfolio-box .portfolio-box-caption {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	background: rgba(13, 13, 13, 0.6);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, #portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	padding: 0 15px;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 16px;
	padding: 0px 15px;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 24px;
	font-weight: 700;
}
#portfolio .portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}

/* ==========================================================================
Our Team Style
========================================================================== */

#team {
	padding: 60px 0;
	text-align: center;
}
#team h2 {
	text-transform: uppercase;
}
#team h2 span {
	font-weight: 700;
	color: #952222;
}
#team .team {
	margin-top: 40px;
	margin-bottom: 20px;
}
#team .team h4 {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #952222;
}
#team .team p {
	color: #404040;
}
#team .team a {
	color: #0d0d0d;
	font-size: 22px;
	padding-right: 10px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#team .team a:hover, #team .team a:focus, #team .team a:active {
	color: #952222;
}

/* ==========================================================================
Contact Us Style
========================================================================== */

#contact {
	background-image: url("../img/contact/contact-bg.jpg");
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 60px 0;
	text-align: center;
}
#contact h2 {
	text-transform: uppercase;
	color: #fff;
}
#contact h2 span {
	font-weight: 700;
}
#contact p {
	color: #fff;
}
#contact form {
	margin: 40px 0;
}
#contact .form-group {
	margin-bottom: 35px;
}
#contact .form-control {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 2px solid #24242a;
	color: #0d0d0d;
	min-height: 45px;
}
#contact textarea {
	height: 140px;
	resize: none;
}

/* ==========================================================================
Footer Style
========================================================================== */

.footer {
	background: #0b0c0c;
	padding: 60px 40px;
}
.footer h6 {
	color: #952222;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.footer .copyright {
	color: #404040;
	font-size: .8em;
}
.footer .footer-nav {
	border-color: transparent;
}
@media (min-width: 768px) {
	.footer .footer-nav {
		border-left: solid 1px rgba(255, 255, 255, 0.10);
	}
}

/* ==========================================================================
Media Queries Style
========================================================================== */

@media (max-width: 992px) {
	/*-- Navigation --*/
	.navbar-default {
		background: #0b0c0c;
	}
	.navbar-default .navbar-header {
		width: 100%;
		padding-right: 0;
	}
	.navbar-default .navbar-header .navbar-brand {
		height: auto;
	}
	.navbar-default .nav-wrap {
		width: 100%;
	}
	.navbar-default .navbar-toggle {
		padding-top: 25px;
		padding-bottom: 25px;
		border: none;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
		background: none;
	}
	.navbar-default .navbar-left, .navbar-default .navbar-right {
		float: none !important;
	}
	.navbar-default .navbar-toggle {
		display: block;
	}
	.navbar-default .navbar-collapse {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-default .navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-default .navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-default .navbar-nav>li {
		float: none;
	}
	.navbar-default .collapse.in {
		display: block !important;
	}
	/*-- Sliders --*/
	#owl-hero h1 {
		font-size: 42px;
	}
	#owl-hero h6 {
		font-size: 16px;
	}
	#owl-hero .btn {
		margin-top: 20px;
	}
	#owl-hero .owl-buttons {
		display: none;
	}
	/*-- solutions --*/
	#solutions h3 {
		font-size: 22px;
	}
	/*-- section styles --*/
	section h2 {
		font-size: 32px;
	}
	#testimonials h5 {
		font-size: 18px;
	}
}
